.imgSizeSquare {
  /* background-image: url(../../img/carre/chambre.jpg); */
  background-size: cover;
  height: 100%;
  width: 100%;
}

.sleep p i {
  color: var(--navColorBlue);
}
.etiquette {
  margin-top: 2rem;
}
.btnAdmin {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}
.btnAdmin .btn {
  width: 100px;
  margin-top: 5px;
  margin-left: 5px;
  background: var(--navColorBlue);
}
.underHeader {
  padding-top: 200px;
}
.papa {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 225px;
}
.prix1 {
  height: 50px;
  width: 100px;
  background-color: orange;
}
.prix1 p {
  margin-left: 40px;
  margin-top: 12px;
  color: black;
}
.prixparis{

}
.fontainebleau {
  text-decoration: none;
  font-family: "Bodoni MT Poster Compressed";
  color: white;
  text-shadow: #333 1px 0 10px;
}
.paris {
  font-family: "Bodoni MT Poster Compressed";
  text-shadow: #333 1px 0 10px;
  text-decoration: none;
  color: white;
}
.alpes {
  font-family: "Bodoni MT Poster Compressed";
  text-shadow: #333 1px 0 10px;
  text-decoration: none;
  color: white;
}
.marseille {
  font-family: "Bodoni MT Poster Compressed";
  text-shadow: #333 1px 0 10px;
  color: white;
  text-decoration: none;
}
.lyon {
  font-family: "Bodoni MT Poster Compressed";
  color: white;
  text-shadow: #333 1px 0 10px;
  text-decoration: none;
}
.no-decoration {
  text-decoration: none;
  color: black;
}
